@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&display=swap);
@import "gh-fork-ribbon.css";

:root {
  color: rgb(51, 51, 51);
  font-family: 'Open Sans';
}

h1,
h2,
h3 {
  font-weight: 700;
}

h1 {
  border-bottom: 1px solid;
  padding-bottom: .3em;
}

body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
}

footer {
  font-size: 12px;
  font-style: italic;
  color: rgb(100, 100, 100);
  border-top: 1px solid;
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: #38444c;
    color: #f0f2f3;
  }

  a:link {
    color: #2b79a2;
  }

  a:visited {
    color: green;
  }

  h1,
  h2,
  h3 {
    background-color: #38444c;
    color: #f0f2f3;
  }

  h1 {
    border-bottom: 1px solid;
  }


  body {
    background-color: #38444c;
    color: #f0f2f3;
  }

  footer {
    color: rgb(125, 125, 125);
  }
}